<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  # Redirigir todas las peticiones a index.html, excepto archivos estáticos
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>